[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WienR"]
	path = WienR
	url = https://github.com/raphaelhartmann/wienr
[submodule "forceplate"]
	path = forceplate
	url = https://github.com/raphaelhartmann/forceplate
[submodule "rtmpt"]
	path = rtmpt
	url = https://github.com/raphaelhartmann/rtmpt
